{% extends "layout.html" %}

{% block title %}
  Tweet code
{% endblock  %}

{% block content %}
<h1 class="text-center mt-4">Welcome to TweetCraft – Where Your Ideas Take Flight! </h1>
<a class="btn btn-primary mb-4" href="{% url 'chai_create' %}">Create a Tweet</a>
  <div class="container row gap-3 ">
  {% for chai in chais %}
   <div class="card" style="width:18rem; mb-4">
    <img src="{{chai.photo.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{chai.user.username}}</h5>
      <p class="card-text">{{chai.text}}</p>
      {% if chai.user == user %}
      <a href="{% url 'chai_edit' chai.id %}" class="btn btn-primary mb-3">Update the Tweet</a>
      <a href="{% url 'chai_remove' chai.id %}" class="btn btn-danger ">Delete the Tweet</a>
     {% endif %}
    </div>
  </div>
  {% endfor %}
  </div>

{% endblock  %}