{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="{%static 'style.css' %}">
</head>
<body>
   
      <div class="content col-md-offset-6 col-lg-offset-6">
          <center><h1 class="contentHead">ABOUT ME</h1></center>
          <h2>Welcome to TweetCraft, <br/><br/>
            Your ultimate companion for creating impactful tweets and building your social media presence effortlessly. Our platform is designed to empower users with the tools and insights needed to craft engaging content, schedule posts, 
            and analyze performance—all in one place.
            <br/><br/>
          
            <p class="text-danger"> Our mission is to simplify the process of content creation while helping you express yourself authentically and creatively. With TweetCraft, your voice reaches further, 
              and your ideas shine brighter.</p>
            <p><span style="text-align:right; color:#000000; font-size:18px;">* Become a part of a growing community of creators, influencers, and brands who trust TweetCraft to amplify their message. </span></p>
          </h2>
        </div>
        </div>
           
</body>
</html>